## encoding: utf-8
<%inherit file="${context.get('root').properties['org-contentment-theme']}.templates.master"/>
<%namespace file="web.extras.contentment.themes.default.templates.date" import="render"/>

<%def name="title()">Database Administration</%def>

<%def name="js()">
<script type="text/javascript" charset="utf-8">
    $(function(){
        var arch = $('#architecture');
        if ( arch.text() != '64' )
            arch.addClass('error').attr('title', 'Not running in 64-bit mode limits the size of your database collections to 2GB!')
        
        $('#latest-version').load('/settings/api:latest_mongo #downloads tbody .not_last:first .version', function(){
            var system = $('#latest-version').parent().find('em:first');
            var current = $('#latest-version');
            
            current.text($('#latest-version div').text().split(' ').join('').split('\n').join(''));
            
            if ( current.text() != system.text() )
                current.addClass('error').attr('title', 'Upgrade recommended.').parent().append(' — <a href="http://www.mongodb.org/download">upgrade</a> recommended');
        });
        
        
        
        
        $.contentment = {};
        $.contentment.settings = {path: '${asset.path}/api:', data: {}};
        $.contentment.api = {};
        
        $.contentment.call = function(fn, callback, options){
            if ( !options ) var options = {};
            var data = $.extend({}, $.contentment.settings.data, options);
            
            $.ajax({
                cache: false,
                success: callback,
                dataType: 'json',
                type: 'post',
                url: $.contentment.settings.path + fn,
                data: data
            });
        };
        
        $.contentment.default_callback = function(data){
            if ( !data.status ) {
                $.flash.error("Error", data.message);
                return;
            }
            
            $.flash.success("Success", data.message)
        };
        
        $.contentment.fnTemplate = function(fn){
            var func = function(callback, options){
                $.requires('flash');
                return $.contentment.call(fn, callback ? callback : $.contentment.default_callback, options);
            };
            return func;
        };
        
        
        $.contentment.api.settings = {};
        $.contentment.api.settings.compact = $.contentment.fnTemplate('settings/compact');
        
        
        
        
        $('#compact-link').click(function(){
            var self = $(this);
            
            self.parent().addClass('current');
            self.find('span').addClass('icon');
            
            var callback = function(data){
                $.contentment.default_callback(data);
                
                self.parent().removeClass('current');
                self.find('span').removeClass('icon');
            };
            
            $.contentment.api.settings.compact(callback);
            
            return false;
        });
    });
    
</script>
</%def>

<%def name="table(data)">
<table class="detail">
    <tbody>
% for name, value in data:
        <tr>
            <th class="name">${name}</th>
%   if isinstance(value, dict):
            <td class="detail">
                <table class="lines">
                    <tbody>
%     for subname in sorted(value):
                        <th class="name">${subname}</th>
                        <td class="detail">${value[subvalue] |n}</td>
%     endfor
                    </tbody>
                </table>
            </td>
%   elif isinstance(value, list):
            <td class="detail">
                <ul>
%     for subvalue in value:
                    <li>${subvalue |n}</li>
%     endfor
                </ul>
            </td>
%   else:
            <td class="detail">${value |n}</td>
%   endif
        </tr>
% endfor
    </tbody>
</table>
</%def>


<menu class="tabs">
    <h1>${title()}</h1>
    <li class="active"><a href="#overview">Overview</a></li>
    <li><a href="#database">Database</a></li>
    <li><a href="#indexes">Indexes</a></li>
    <li><a href="#backup">Backup</a></li>
    <li><a href="#profiling">Profiling</a></li>
</menu>


<div id="overview">
    ${table(dbserver)}
</div>

<div id="database">
    ${table(db)}
</div>

<div id="indexes">
    ${table(indexes)}
</div>

<div id="backup">
</div>

<div class="byline">
    Information accurate as of ${render(now)}</time>.
</div>

<menu class="buttons footer" id="asset-footer" style="margin-top: 15px;">
    <li>
        <a href="#" id="compact-link"><span class="right working">Compact</span></a>
    </li>
    <div class="fr">
        <li>
            <a class="button" href="http://mongodb.org/" target="_blank" id="mongodb-link">MongoDB Site</a>
        </li>
    </div>
</menu>