## encoding: utf-8
<%inherit file="${context.get('root').properties['org-contentment-theme']}.templates.master"/>
<%namespace file="web.extras.contentment.themes.default.templates.date" import="render"/>

<%def name="title()">${asset.title}</%def>
<%def name="bodyclass()">search</%def>

% if q:
<header>
    <h1>Search results for: ${q|h}</h1>
</header>

<section>
<dl class="details">
<% skipped = 0 %>
% for rank, child in results:
  <dt><a href="${child.path}/">${child.title}</a></dt>
%   if child.description:
  <dd class="description">${child.description}</dd>
%   else:
<dd class="description"><em>No description available.</em></dd>
%   endif
% endfor
</dl>
% endif