<%inherit file="${context.get('root').properties['org-contentment-theme']}.templates.master"/>

<%def name="title()">${asset.title}</%def>        
<%def name="bodyclass()">search</%def>

% if q:
<h1 class="primary">${count if count else 'No'} search result${'' if count == 1 else 's'} for: ${q}</h1>

% if count:
<dl class="details">
% for child in results:
  <dt><a href="${child.path}/">${child.title}</a></dt>
%   if child.owner:
  <dd class="byline">by <a href="">${child.owner.name}</a> <time class="created" datetime="${child.created.isoformat().rsplit('.')[0]}Z" title="Creation date.">on ${child.created.strftime(root.properties['org-contentment-formats-date'])}</time>.</dd>
%   else:
  <dd class="byline">by <em>Anonymous</em> <time class="created" datetime="${child.created.isoformat().rsplit('.')[0]}Z" title="Creation date.">on ${child.created.strftime(root.properties['org-contentment-formats-date'])}</time>.</dd>
%   endif
%   if child.description:
  <dd class="description">${child.description}</dd>
%   else:
<dd class="description"><em>No description available.</em></dd>
%   endif
%   if child.tags:
  <dd class="tags"><ul class="tags"></ul></dd>
%   endif
%   if child.modified:
  <dd class="age icon updated">Last modified <time class="modified" datetime="${child.modified.isoformat().rsplit('.')[0]}Z" title="Modification date.">on ${child.modified.strftime(root.properties['org-contentment-formats-date'])}</time>.</dd>
%   endif
% endfor
</dl>

<div class="byline tc">
    <strong>${count if count else 'No'}</strong> search result${'' if count == 1 else 's'}.
</div>

% elif asset.query is None:

<h2>No results found.  Please widen your search criteria.</h2>

<form style="text-align: center; margin: 25px; font-size: 153.9%" method="get"><input type="search" autocomplete="on" name="q" placeholder="Site-wide search." value="${q}" style="width: 300px;" autofocus></form>

% endif
% else:

<h1 class="primary">${title()}</h1>
<form style="text-align: center; margin: 25px; font-size: 153.9%" method="get"><input type="search" autocomplete="on" name="q" placeholder="Site-wide search." value="${q}" style="width: 300px;" autofocus></form>

% endif