# Utility Libraries
-e git+https://github.com/marrow/cinje.git@develop#egg=cinje-develop
-e git+https://github.com/marrow/package.git@develop#egg=marrow.package-develop
-e git+https://github.com/marrow/schema.git@develop#egg=marrow.schema-develop

# Web Framework
-e git+https://github.com/marrow/WebCore.git@rewrite#egg=WebCore-origin_rewrite
-e git+https://github.com/marrow/web.app.static.git@#egg=web.app.static-develop
-e git+https://github.com/marrow/web.dispatch.object.git@develop#egg=web.dispatch.object-develop
-e git+https://github.com/marrow/web.template.git@develop#egg=web.template-develop

# Contentment CMS
-e git+https://github.com/marrow/contentment.git@develop#egg=Contentment-develop
-e git+https://github.com/marrow/web.component.page.git@develop#egg=web.component.page-develop
-e git+https://github.com/marrow/web.theme.bootstrap.git@develop#egg=web.theme.bootstrap-develop

# Dependencies
MarkupSafe==1.1.1
marrow.util==1.2.3
mongoengine==0.19.0
Pillow==6.2.1
Pygments==2.5.2
pymongo==3.10.0
pytest==5.3.2
pytest-spec==2.0.0
python-logging-json-formatter==0.1.0
pytz==2019.3
tox==3.14.2
waitress==1.4.2
webassets==2.0
WebOb==1.8.5
