language: python
sudo: false

env:
  - TOXENV=py34

install: travis_retry pip install tox

script: .tox.sh

notifications:
  irc:
    channels:
      - 'irc.freenode.org#webcore'
    use_notice: true
    skip_join: true
    on_success: change
    on_failure: always
    template:
      - "%{repository_slug}:%{branch}@%{commit} %{message}"
      - "Duration: %{duration} - Details: %{build_url}"

after_success:
  - coveralls
  