<%inherit file="${context.get('root').properties['org-contentment-theme']}.templates.master"/>

<%def name="title()">${asset.title}</%def>

<h1>${title()}</h1>

<table>
    <tbody>
% if asset.organizer:
        <tr>
            <th>Organizer</th>
            <td>${asset.organizer}</td>
        </tr>
% endif
% if asset.location:
        <tr>
            <th>Location</th>
            <td>${asset.location}</td>
        </tr>
% endif
% if asset.starts:
        <tr>
            <th>Starts</th>
            <td><time class="starts" datetime="${asset.starts.isoformat().rsplit('.')[0]}Z" title="Modification date.">${asset.starts.strftime(root.properties['org-contentment-formats-date'])}</time></td>
        </tr>
% endif
% if asset.stops:
        <tr>
            <th>Stops</th>
            <td><time class="stops" datetime="${asset.stops.isoformat().rsplit('.')[0]}Z" title="Event ends on/at.">${asset.stops.strftime(root.properties['org-contentment-formats-date'])}</time></td>
        </tr>
% endif
    </tbody>
</table>

% if asset.content:

<h2>Event Details</h2>

${asset.rendered | n}

% endif

% if asset.contact:

<h2>Contact Information</h2>

<table>
    <tbody>
% if asset.contact.name:
        <tr>
            <th>Name</th>
            <td>${asset.contact.name}</td>
        </tr>
% endif
% if asset.contact.email:
        <tr>
            <th>E-Mail</th>
            <td><a href="mailto:${asset.contact.email}">${asset.contact.email}</a></td>
        </tr>
% endif
% if asset.contact.phone:
        <tr>
            <th>Phone</th>
            <td>${asset.contact.phone}</td>
        </tr>
% endif
    </tbody>
</table>

% endif

<div class="byline">
    Created <time class="created" datetime="${asset.created.isoformat().rsplit('.')[0]}Z" title="Creation date.">${asset.created.strftime(root.properties['org-contentment-formats-date'])}</time>.
    
%     if asset.modified:
    Last modified <time class="modified" datetime="${asset.modified.isoformat().rsplit('.')[0]}Z" title="Modification date.">${asset.modified.strftime(root.properties['org-contentment-formats-date'])}</time>.
%     endif
</div>