## encoding: utf-8
<%inherit file="${context.get('root').properties['org-contentment-theme']}.templates.master"/>
<%namespace file="web.extras.contentment.themes.default.templates.date" import="render"/>

<%def name="title()">${asset.title}</%def>

<header>
<h1>${title()}</h1>
</header>

<section>
<table>
    <tbody>
% if asset.organizer:
        <tr>
            <th>Organizer</th>
            <td>${asset.organizer}</td>
        </tr>
% endif
% if asset.location:
        <tr>
            <th>Location</th>
            <td>${asset.location}</td>
        </tr>
% endif
% if asset.starts:
        <tr>
            <th>Starts</th>
            <td>${render(asset.starts, cls="starts")}</td>
        </tr>
% endif
% if asset.stops:
        <tr>
            <th>Stops</th>
            <td>${render(asset.stops, cls="stops")}</td>
        </tr>
% endif
    </tbody>
</table>

% if asset.content:

<h2>Event Details</h2>

${asset.rendered | n}

% endif

% if asset.contact:

<h2>Contact Information</h2>

<table>
    <tbody>
% if asset.contact.name:
        <tr>
            <th>Name</th>
            <td>${asset.contact.name}</td>
        </tr>
% endif
% if asset.contact.email:
        <tr>
            <th>E-Mail</th>
            <td><a href="mailto:${asset.contact.email}">${asset.contact.email}</a></td>
        </tr>
% endif
% if asset.contact.phone:
        <tr>
            <th>Phone</th>
            <td>${asset.contact.phone}</td>
        </tr>
% endif
    </tbody>
</table>

% endif

% if asset.children:
<footer id="attachments">
    <label>Attachments</label>
    <menu>
% for child in asset.children:
        ${'>' if child != asset.children[0] else ''}<li><a href="${child.path}" title="${child.description}">${child.title}</a></li
% endfor
    ></menu>
</footer>
% endif

% if asset.related:
<footer id="related">
    <label>Related</label>
    <menu>
%   for child in asset.related:
        ${'>' if child != asset.related[0] else ''}<li><a href="${child.path}" title="${child.description if child.description else ''}">${child.title}</a></li
%   endfor
    ></menu>
</footer>
% endif

</section>

<%include file="${context.get('root').properties['org-contentment-theme']}.templates.byline"/>