## encoding: utf-8
<%inherit file="${context.get('template')}"/>
<%namespace file="web.extras.contentment.themes.default.templates.date" import="render"/>

<%def name="title()">${asset.title}</%def>

% if template.endswith('.master'):
<header>
    <h1>${asset.title}</h1>
</header>
% endif

<section>
% if not asset.children:
    <h2 class="tc">This folder is empty.</h2>
</section>
% else:

<ul class="gallery-thumbs">\
% for child in asset.children:
%     if child.controller.allowed:
<li><a rel="gallery" href="${scale(child, 'lightbox')}" title="${child.title}"><img src="${scale(child, 'polaroid')}"></a></li>\
%     endif
% endfor
</ul>

% endif