<%inherit file="web.extras.contentment.themes.default.master"/>

<%def name="title()">${asset.title}</%def>

${asset.rendered | n}

<div class="byline">
    Created <time datetime="${asset.created.isoformat().split('.')[0]} UTC">on ${asset.created.strftime('%B %e, %G at %H:%M:%S')}, GMT/UTC</time>.
    
%     if asset.modified:
    Last modified <time datetime="${asset.modified.isoformat().split('.')[0]} UTC">on ${asset.modified.strftime('%B %e, %G at %H:%M:%S')}, GMT/UTC</time>.
%     endif
</div>