<%inherit file="${context.get('root').properties['org-contentment-theme']}.templates.master"/>

<%def name="title()">${asset.title}</%def>        

<h1>${asset.title}</h1>

% if not asset.children:
<h2>This folder is empty.</h2>
% else:

<dl class="details">
% for child in asset.children:
  <dt><a href="${child.path}/">${child.title}</a></dt>
%   if child.owner:
  <dd class="byline">by <a href="">${child.owner.name}</a> <time class="created" datetime="${child.created.isoformat().rsplit('.')[0]}Z" title="Creation date.">on ${child.created.strftime(root.properties['org-contentment-formats-date'])}</time> with (#) comments.</dd>
%   else:
  <dd class="byline">by <em>Anonymous</em> <time class="created" datetime="${child.created.isoformat().rsplit('.')[0]}Z" title="Creation date.">on ${child.created.strftime(root.properties['org-contentment-formats-date'])}</time> with (#) comments.</dd>
%   endif
%   if child.description:
  <dd class="description">${child.description}</dd>
%   else:
<dd class="description"><em>No description available.</em></dd>
%   endif
%   if child.tags:
  <dd class="tags"><ul class="tags"></ul></dd>
%   endif
%   if child.modified:
  <dd class="age icon updated">Last modified <time class="modified" datetime="${child.modified.isoformat().rsplit('.')[0]}Z" title="Modification date.">on ${child.modified.strftime(root.properties['org-contentment-formats-date'])}</time>.</dd>
%   endif
% endfor
</dl>

% endif