<%namespace file="web.extras.contentment.themes.default.templates.date" import="render"/>
% if root.properties['org-contentment-option-showdates'] or root.properties['org-contentment-option-attribution']:
<div class="byline">
    Created\
%   if root.properties['org-contentment-option-attribution'] and asset.owner:
 by <a href="${asset.owner.path}">${asset.owner.title}</a>\
%   endif
%   if root.properties['org-contentment-option-showdates']:
 ${render(asset.created, 'on ')}\
%     if asset.modified:
. Last modified ${render(asset.modified, 'on ')}\
%     endif
%   endif
.
</div>
% endif