% if root.properties['org-contentment-option-showdates'] or root.properties['org-contentment-option-attribution']:
<div class="byline">
    Created\
%   if root.properties['org-contentment-option-attribution'] and asset.owner:
 by <a href="${asset.owner.path}">${asset.owner.title}</a>\
%   endif
%   if root.properties['org-contentment-option-showdates']:
 <time datetime="${asset.created.isoformat().split('.')[0].rsplit('.')[0]}Z">on ${asset.created.strftime('%B %e, %G at %H:%M:%S')}, GMT/UTC</time>\
%     if asset.modified:
. Last modified <time datetime="${asset.modified.isoformat().split('.')[0].rsplit('.')[0]}Z">on ${asset.modified.strftime('%B %e, %G at %H:%M:%S')}, GMT/UTC</time>\
%     endif
%   endif
.
</div>
% endif