<%!

    from web.extras.contentment.components.asset.model import Asset

%>
<%

    theme = Asset.objects(path='/theme').first()
    
    _nav = asset.path[1:].partition('/')[0] or 'default'

%>
<%def name="title()"></%def>
<%def name="header()"></%def>
<%def name="cls()"></%def>
<%def name="js()"></%def>
<!doctype html>
<html lang="en" class="no-js">
    <head>
        <meta charset="utf-8">
        
        <!--[if IE]><meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"><![endif]-->
        
        <title>${self.title()} - ${root.title}</title>
        
        <meta name="viewport" content="width=980px;">
        
        <link rel="shortcut icon" href="/theme/static/favicon.ico">
        <link rel="apple-touch-icon" href="/theme/static/apple-touch-icon.png">
        
        <link rel="stylesheet" href="/theme/static/css/style.css?v=1">
        <link rel="stylesheet" href="/theme/static/css/handheld.css?v=1" media="handheld">
        
        <script src="/theme/static/js/modernizr-1.5.min.js"></script>
        
        ${self.header()}
    </head>

<!--[if lt IE 7 ]> <body class="ie6 nav-${_nav} ${self.cls()}"> <![endif]-->
<!--[if IE 7 ]>    <body class="ie7 nav-${_nav} ${self.cls()}"> <![endif]-->
<!--[if IE 8 ]>    <body class="ie8 nav-${_nav} ${self.cls()}"> <![endif]-->
<!--[if IE 9 ]>    <body class="ie9 nav-${_nav} ${self.cls()}"> <![endif]-->
<!--[if gt IE 9]>  <body class="nav-${_nav} ${self.cls()}">     <![endif]-->
<!--[if !IE]><!-->
    <body class="nav-${_nav} ${self.cls()}">
<!--<![endif]-->

% if web.auth.authenticated:
<%include file="web.extras.contentment.themes.default.templates.assetmenu"/>
% endif

        <header id="top">
            <hgroup class="container">
${root.__class__.objects(path=theme.paths.header).first().rendered | n}
                
                <div class="special search">
                    <form method="get" action="/search"><input type="search" autocomplete="on" name="q" placeholder="Site-wide search."></form>
                </div>
            </hgroup>
        </header>
        
        <section id="navigation">
            <div class="container">
${root.__class__.objects(path=theme.paths.menu).first().rendered | n}
                <div class="seo">
                    <a href="http://www.twitter.com/GothAlice/"><img src="/theme/static/img/icons/twitter_32.png"></a>
                    <a href=""><img src="/theme/static/img/icons/rss_32.png"></a>
                </div>
            </div>
        </section>
        
        <section id="main">
            <div class="container">
                <div class="indent">
% if theme.breadcrumb:
<%include file="web.extras.contentment.themes.default.templates.breadcrumb"/>
% endif
                    
                    <div id="flash"> \
% if web.session.get('flash', None):
<div id="message" class="${web.session['flash']['cls']}" title="${web.session['flash']['title']}">${web.session['flash']['message']}</div> \
% endif
</div>
                    
${next.body()}
                    
                    <div class="clearfix"></div>
                </div>
            </div>
        </section>
        
        <footer>
            <div class="container">
${root.__class__.objects(path=theme.paths.footer).first().rendered | n}
                <div>
% if web.auth.anonymous:
                    <a href="/users/action:authenticate" id="authenticate">Sign In</a>
% else:
                    <a href="/users/action:expire" id="deauthenticate">Sign Out</a>
% endif
                </div>
            </div>
        </footer>
        
        <!-- Grab Google CDN's jQuery. fall back to local if necessary -->
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>
        <script>!window.jQuery && document.write('<script src="/theme/static/js/jquery-1.4.2.min.js"><\/script>')</script>
        
        <script src="/theme/static/js/plugins.js?v=1"></script>
        <script src="/theme/static/js/script.js?v=1"></script>
        
        <!--[if lt IE 7 ]>
            <script src="/theme/static/js/dd_belatedpng.js?v=1"></script>
        <![endif]-->
        
        <script type="text/javascript">
          var _gaq = _gaq || [];
          _gaq.push(['_setAccount', 'UA-11739729-1']);
          _gaq.push(['_trackPageview']);
          (function() {
            var ga = document.createElement('script');
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            ga.setAttribute('async', 'true');
            document.documentElement.firstChild.appendChild(ga);
          })();
        </script>
        
${self.js()}
    </body>
</html>
<% if 'flash' in web.session: del web.session['flash'] %>