<%namespace name="hook" file="web.extras.contentment.themes.default.templates.definitions" inheritable="True"/>
<!doctype html>
<html lang="en" class="no-js">
    <head>
        <meta charset="utf-8">
        
        <!--[if IE]><meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"><![endif]-->
        
        <title>${self.hook.title()} - ${root.title}</title>
        
        <meta name="viewport" content="width=980px;">
        
        <link rel="shortcut icon" href="/theme/static/favicon.ico">
        <link rel="apple-touch-icon" href="/theme/static/apple-touch-icon.png">
        
        <link rel="stylesheet" href="/theme/static/css/style.css?v=1">
        <link rel="stylesheet" href="/theme/static/css/handheld.css?v=1" media="handheld">
        
        <script src="/theme/static/js/modernizr-1.5.min.js"></script>
        
        ${self.hook.header()}
    </head>

<!--[if lt IE 7 ]> <body class="ie6 ${self.hook.cls()}"> <![endif]-->
<!--[if IE 7 ]>    <body class="ie7 ${self.hook.cls()}"> <![endif]-->
<!--[if IE 8 ]>    <body class="ie8 ${self.hook.cls()}"> <![endif]-->
<!--[if IE 9 ]>    <body class="ie9 ${self.hook.cls()}"> <![endif]-->
<!--[if gt IE 9]>  <body class="${self.hook.cls()}">             <![endif]-->
<!--[if !IE]><!-->
    <body class="${self.hook.cls()}">
<!--<![endif]-->
        <header id="top">
            <hgroup class="container">
## TODO: Make this part of the Theme model.
${root.__class__.objects(path='/templates/header').first().rendered | n}
                
                <div class="special search">
                    <menu>
                        <li><a class="create-link" href="./action:create">Create</a></li>
                        <li><a class="modify-link" href="${asset.path}/action:modify">Modify</a></li>
                        <li><a class="delete-link" href="${asset.path}/action:delete">Delete</a></li>
                    </menu>
                    <form method="get" action="/search"><input type="search" autocomplete="on" name="q" placeholder="Site-wide search."></form>
                </div>
            </hgroup>
        </header>
        
        <section id="navigation">
## TODO: Make this part of the Theme model.
${root.__class__.objects(path='/templates/menu').first().rendered | n}
        </section>
        
        <section id="main">
            <div class="container">
                <div class="indent">
## TODO: Make this part of the Theme model, defaulting to True.
<%include file="web.extras.contentment.themes.default.templates.breadcrumb"/>
                    
${next.body()}
                    
                    <div class="clearfix">
                </div>
            </div>
        </section>
        
        <footer>
            <div class="container">
## TODO: Make this part of the Theme model.
${root.__class__.objects(path='/templates/footer').first().rendered | n}
            </div>
        </footer>
        
        <!-- Grab Google CDN's jQuery. fall back to local if necessary -->
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>
        <script>!window.jQuery && document.write('<script src="/theme/static/js/jquery-1.4.2.min.js"><\/script>')</script>
        
        <script src="/theme/static/js/plugins.js?v=1"></script>
        <script src="/theme/static/js/script.js?v=1"></script>
        
        <!--[if lt IE 7 ]>
            <script src="/theme/static/js/dd_belatedpng.js?v=1"></script>
        <![endif]-->
        
${self.hook.js()}
    </body>
</html>