## encoding: utf-8
<%inherit file="${context.get('root').properties['org-contentment-theme']}.templates.master"/>

<%def name="title()">${asset.title}</%def>

<header>
    <h1>${title()}</h1>
</header>

<section>
% if asset.description:
    <p>${asset.description}</p>
% endif

<!--
<h2>Basic Information</h2>

<table>
    <tbody>
        <tr>
            <th class="tr">File Name</th>
            <td>${asset.filename}</td>
        </tr>
        <tr>
            <th class="tr">Mime Type</th>
            <td>${asset.mimetype}</td>
        </tr>
        <tr>
            <th class="tr">File Size</th>
            <td>${asset.size}</td>
        </tr>
    </tbody>
</table>
-->

% if asset.properties.get('org-contentment-file-metadata', None):
<h2>Advanced Metadata</h2>

<table>
    <tbody>
%   for name, value in asset.properties['org-contentment-file-metadata'].iteritems():
        <tr>
            <th class="tr">${name}</th>
            <td>${value}</td>
        </tr>
%   endfor
    </tbody>
</table>
% endif

% if asset.format:
<!-- <h2>Embedded Preview</h2> -->

${unicode(asset.format.embed(asset, width="100%")) | n}
% endif

</section>

<%include file="${context.get('root').properties['org-contentment-theme']}.templates.byline"/>