<%inherit file="${context.get('root').properties['org-contentment-theme']}.templates.master"/>
<%namespace file="web.extras.contentment.themes.default.templates.date" import="render"/>

<%def name="title()">${asset.title}</%def>        

<h1>${asset.title}</h1>

% if not asset.contents:
<h2>This folder is empty.</h2>
% else:

<dl class="details">
<% skipped = 0 ; contents = asset.contents.order_by(asset.sort) if asset.sort else asset.contents %>
% for child in contents:
<% if not child.controller.allowed: skipped += 1; continue %>
  <dt><a href="${child.path}/">${child.title}</a></dt>
%   if root.properties['org-contentment-option-attribution']:
%     if child.owner:
  <dd class="byline">by <a href="${child.owner.path}/">${child.owner.title}</a>\
%       if root.properties['org-contentment-option-showdates']:
 ${render(asset.created, 'on ', "created")}\
%       endif
.</dd>
%     else:
  <dd class="byline">by <em>Anonymous</em> ${render(asset.created, 'on ', "created")}.</dd>
%     endif
%   endif
%   if child.description:
  <dd class="description">${child.description}</dd>
%   else:
<dd class="description"><em>No description available.</em></dd>
%   endif
%   if child.tags:
  <dd class="tags"><ul class="tags"></ul></dd>
%   endif
%   if root.properties['org-contentment-option-showdates'] and child.modified:
  <dd class="age icon updated">Last modified ${render(asset.modified, 'on ', "modified")}.</dd>
%   endif
% endfor
</dl>

<div class="byline tc">
<% count = len(contents) - skipped %>
    Contains <strong>${count}</strong> Asset${'' if count == 1 else 's'}
</div>

% endif