## encoding: utf-8
<%!
from os.path import commonprefix
from web.extras.contentment.components.event.model import Event
from itertools import groupby
%>

% if years:
<%def name="navigation()">
<menu>\
<label>Year:</label>\
%   for y in years:
%     if y != year:
<li><a href="?year=${y}">${y}</a></li>\
%     else:
<li class="active"><a href="?year=${y}">${y}</a></li>\
%     endif
%   endfor
</menu>
</%def>
% endif

<%inherit file="${context.get('template')}"/>
<%namespace file="web.extras.contentment.themes.default.templates.date" import="render"/>

<%def name="title()">${asset.title}</%def>

<section>
<% skipped = 0 ; contents = Event.objects(parent=asset, starts__gte=filter_range[0], starts__lt=filter_range[1]).order_by('tags', sort).only("name", "title", "children", "path") %>
% for group, children in groupby(list(contents), lambda a: a.title.partition(':')[0]):
    <h2>${group}</h2>
    
    <dl class="inline">\
%   for child in children:
<% prefix_length = len(commonprefix([child.name.lower()] + [i.name.lower() for i in child.contents])) %>
<dt><a href="${child.path}/">${child.title}</a></dt>\
<dd><menu class="inline">\
%     for f in child.contents:
<li><a href="${f.path}/">${f.title[prefix_length:].strip()}</a></li>\
%     endfor
</menu></dd>\
%   endfor
</dl>
% endfor
<% count = len(contents) - skipped %>
% if not count:
    <h2 class="tc">This folder contains no events.</h2>
% else:
</section>

% endif